---
layout: default
title: Home
---
<script id="dsq-count-scr" src="//hsleedevelop.disqus.com/count.js" async></script>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }} <a href="https://hsleedevelop.github.io{{ post.url | relative_url }}#disqus_thread">Comments</a> </span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<!-- <div class="container content"> -->
<div class="pagination clearfix">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/">Prev</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% else %}
      <a href="/page{{ paginator.previous_page }}">Prev</a>
    {% endif %}
  {% else %}
    <span class="disabled">Prev</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {% endif %}
  {% if paginator.page == 1 %}
    <span class="active">1</span>
  {% else %}
    <a href="/">1</a>
  {% endif %}
  {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
      <span class="active">{{ count }}</span>
    {% else %}
      <a href="/page{{ count }}">{{ count }}</a>
    {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/page{{ paginator.next_page }}">Next</a>
  {% else %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="disabled">Next</span>
  {% endif %}
</div>
